<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 mr-auto">
        <h5 class="text-uppercase">MyTrip.com</h5>

        <p>
          Welocome to MyTrip.com! <br />
          The best online travel booking platform. <br />
          It's the one stop solution to all your travel needs!
        </p>
      </div>
      <!--Grid column-->

      <!-- Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Contact Us</h5>

        <ol class="list-unstyled">
          <br />
          <li>
            <a href="#!" class="text-dark" target="_blank"
              ><i class="fas fa-envelope-open-text"></i> Email: rmx911@mytrip.com</a
            >
          </li>
          <br />
          <li>
            <a href="#!" class="text-dark" target="_blank"
              ><i class="fas fa-phone-square-alt"></i> Ph No: +91 9818804350</a
            >
          </li>
        </ol>

      </div>
      <!--Grid column -->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ol class="list-unstyled">
          <br />
          <li>
            <a href="#!" class="text-dark" target="_blank"
              ><i class="fab fa-instagram-square"></i> Instagram</a
            >
          </li>
          <br />
          <li>
            <a href="#!" class="text-dark" target="_blank"
              ><i class="fab fa-twitter"></i> Twitter</a
            >
          </li>
        </ol>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" class="footer-color">
    © 2020 Copyright:
    <a class="text-dark" href="https://github.com/RMX911" target="_blank"
      >RMX911</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
