<br />
<br />
<h4>Select Seats</h4>
<br />
<h6>Price per seat is: {{ seatPrice }}</h6>
<br />
<div class="row">
  <div class="col-lg-6">
    <table class="table table-borderless">
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('1')"
              id="1"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('2')"
              id="2"
            />
          </td>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('3')"
              id="3"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('4')"
              id="4"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('5')"
              id="5"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('6')"
              id="6"
            />
          </td>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('7')"
              id="7"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('8')"
              id="8"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('9')"
              id="9"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('10')"
              id="10"
            />
          </td>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('11')"
              id="11"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('12')"
              id="12"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('13')"
              id="13"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('14')"
              id="14"
            />
          </td>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('15')"
              id="15"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('16')"
              id="16"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('17')"
              id="17"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('18')"
              id="18"
            />
          </td>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('19')"
              id="19"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('20')"
              id="20"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('21')"
              id="21"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('22')"
              id="22"
            />
          </td>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('23')"
              id="23"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('24')"
              id="24"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('25')"
              id="26"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('26')"
              id="27"
            />
          </td>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('27')"
              id="27"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('28')"
              id="28"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('29')"
              id="29"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('30')"
              id="30"
            />
          </td>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('31')"
              id="31"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('32')"
              id="32"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('33')"
              id="33"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('34')"
              id="34"
            />
          </td>
          <td></td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('35')"
              id="35"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="seat"
              (click)="calculatePrice('36')"
              id="36"
            />
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-6">
    <table class="table table-border mt-2">
      <thead>
        <tr>
          <td><strong>Seat</strong></td>
          <td><strong>Fare</strong></td>
          <td><strong>Class</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isChecked.length === 0; else showData">
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <ng-template #showData>
          <tr *ngFor="let seat of isChecked">
            <td>{{ seat }}</td>
            <td>{{ seatPrice }}</td>
            <td>{{ seatClass }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>

    <br />
    <br />
    <br />
    <br />
    <div class="alert alert-secondary mt-5" role="alert">
      Total : {{ this.isChecked.length * this.seatPrice }}
    </div>
    <button class="btn btn-primary block" (click)="onSubmit()">Confirm</button>
  </div>
</div>
